body{
    background-color: black;
}
h3{
    color: white;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
a {
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    line-height: 3;
}
p {
    color: white;
    margin: 0px;
}
.sidebar {
    height: auto;
    width: 0px;
    position: fixed;
    text-align: center;
    top: 35vh;
    padding: 10px;
}
p i {
   
    left: 30px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
}
.social{
    margin-left: -200px;
    width: 230px;
    padding: 0;
    display: inline-table;
    height: 0px;
    background-color: rgba(128, 128, 128, 0.73);
    -moz-transition-property: margin-left;
    -moz-transition-duration: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-property: margin-left;
    -ms-transition-duration: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-property: margin-left;
    -o-transition-duration: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-property: margin-left;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s;
    box-shadow: 0px 0px 6px 0px #3E3D3D;
    cursor: pointer;
}
.social:hover {
    margin-left: -30px;
    width: 230px; 
}
.facebook {
    background-color: #3b5998;  
}
.twitter {
    background-color: #4099FF;
}
.google {
    background-color: #DD4B39;
}

